# OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Java & Gradle (Backend)
/backend/build/
/backend/.gradle/
/backend/out/
!/backend/gradle/wrapper/gradle-wrapper.jar

# Python (AI)
/ai/__pycache__/
/ai/venv/
/ai/.env
/ai/*.pyc

# Node & React (Frontend)
/frontend/node_modules/
/frontend/dist/
/frontend/.env.local
/frontend/.env